button {
    display: flex;
    color: rgb(255, 255, 255);
    background-color: rgb(82, 28, 126);
    font-size: 14px;
    padding: 12px; 
    margin: 5px; 
    border-radius: 0px;
    width: 95px;
    justify-content: center;
    border: none;
    font-family: Arial;
}

.footer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

button, input {
    cursor: pointer;
}

.eraser {
    color: red;
    font-weight: bolder;
}

/* width: 100%;
border: none;
color: inherit;
font-family: inherit;
font-size: inherit;
cursor: pointer;
outline: none;
} */